<div class="header">
  <div class="header-top">
    <div class="header-top-left">
      <span
        ><i class="fa-light fa-shield-exclamation"></i> Manager Dashboard</span
      >
    </div>
    <div class="header-top-right">
      <div class="user-info">
        <div class="user-name">
          <!-- User Name Goes Here -->
          <span class="">{{ user.lastName }}</span>
        </div>
      </div>

      <span>|</span>
      <button class="btn-logout" (click)="onLogout()">
        <i class="fa-thin fa-right-from-bracket"></i>
      </button>
    </div>
  </div>
  <div class="header-bottom">
    <div class="header-bottom-links">
      <a [routerLink]="['/manager/services']">Services managment</a>
      <a [routerLink]="['/manager/employees']" href="">Employee managment</a>
      <a href="">Appointment list</a>
      <a href="">Statistics</a>
    </div>
  </div>
</div>
