<div class="header" appScroll>
  <div class="header-top">
    <div class="header-top-left">
      <span><i class="fa-regular fa-phone"></i> +261 38 70 846 43</span>
    </div>
    <div class="header-top-right">
      <!-- Login and shop links -->
      <a href="#">Sign up</a>
      <span>|</span>
      <a href="#"><i class="fa-light fa-user"></i> Log in</a>
      <span>|</span>
      <a href="#"><i class="fa-light fa-bag-shopping"></i></a>
    </div>
  </div>
  <div class="header-bottom">
    <div class="header-bottom-logo">
      <!-- Logo -->
      <h1>Beauty Salon.</h1>
    </div>
    <div class="header-bottom-links">
      <!-- Home, services, etc. links -->
      <a href="" class="">Home</a>
      <a href="" class="active">Services</a>
      <a href="">About us</a>
      <a href="">Contact</a>
    </div>
  </div>
</div>
