<welcome-message>
  <h1 class="presentation-text">
    Discover Your Perfect Pampering Experience with Our Range of Luxurious
    Services
  </h1>
</welcome-message>
<section class="services-container">
  <div class="filter-container">
    <div class="filter">
      <div class="filter-search">
        <label>Search</label>
        <input
          type="text"
          [(ngModel)]="searchedText"
          placeholder="type anything..."
        />
      </div>
      <div class="filter-by-type">
        <label for="serviceType">Filter by Category:</label>
        <!-- (change)="onFilterTypeChange($event)" -->
        <select id="serviceType" [(ngModel)]="selectedType">
          <option value="All">All</option>
          <!-- <option value="Hair">Hair</option>
          <option value="Makeup">Makeup</option>
          <option value="Nail">Nail</option> -->
          <option [value]="type.name" *ngFor="let type of servicesType">
            {{ type.name }}
          </option>
        </select>
      </div>
      <div class="filter-btn-apply">
        <button (click)="onBtnFilterApplyClicked()">Apply</button>
      </div>
    </div>
  </div>
  <div class="all-services-types">
    <div class="no-display" *ngIf="!servicesList || servicesList?.length == 0">
      <h2>No services to display..</h2>
      <h2 *ngIf="errorMessage">{{ errorMessage }}</h2>
    </div>
    <ng-container *ngIf="servicesList">
      <ng-container *ngFor="let type of servicesType">
        <div class="services-type" *ngIf="hasServicesForType(type.name)">
          <h1>{{ type.name }}</h1>
          <div class="services-list">
            <ng-container *ngFor="let service of getServicesForType(type.name)">
              <div class="service-item">
                <button class="preference-button">
                  <i class="fa-light fa-heart"></i>
                </button>
                <div class="service-item-img">
                  <img [src]="'http://localhost:3001' + service.image" alt="" />
                </div>
                <div class="service-item-bottom">
                  <div class="service-item-details">
                    <h3 class="service-item-detail-name">{{ service.name }}</h3>
                    <span class="service-detail-price"
                      ><i class="fa-solid fa-tag"></i>Price:
                      <strong>{{ service.price }}€</strong></span
                    >
                    <span class="service-detail-duration"
                      ><i class="fa-regular fa-timer"></i>Duration Approx.:
                      <strong>{{
                        service.duration | durationFormat
                      }}</strong></span
                    >
                    <p class="service-detail-description">
                      {{ service.description }}
                    </p>
                  </div>
                  <div class="service-item-btn">
                    <button
                      [routerLink]="['/appointment']"
                      [state]="{
                        serviceId: service._id,
                        serviceType: service.type
                      }"
                    >
                      Make an appointment
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</section>
<div class="overlay" *ngIf="showLoading">
  <div class="loader"></div>
</div>
